<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data Pulse</title>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="caminho/para/sua/logo.png" width="30" height="30" alt="Sua Logo">
                </a>

                <div class="ml-auto">
                    <button class="btn btn-primary" onclick="abrirLinkExterno()">Baixar CSV</button>
                    <button class="btn btn-secondary" id="uploadButton">Upload CSV</button>
                    <button type="button" class="btn btn-primary" onclick="handleReload()">Reload</button>
                </div>
            </nav>
        </header>

        <input type="file" id="fileInput" accept=".csv" style="display:none;" onchange="handleFileUpload()">

        <grafico>
            <div class="container mt-4">
                <div class="col">
                    <canvas id="myChart" style="margin-top: 20px;"></canvas>
                </div>
            </div>
        </grafico>

        <tabela-de-resultados>
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <div id="table-container" class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-dark"></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tabela-de-resultados>

        <quantidade-de-itens>
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total de Itens no Mês</h5>
                                <p class="card-text" id="totalItensNoMes">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </quantidade-de-itens>

        <media-de-itens-por-dia>
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Média de Itens por Dia</h5>
                                <p class="card-text" id="mediaItensPorDia">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </media-de-itens-por-dia>

        <script src="uiUpdater.js"></script>
        <script src="../controllers/mainController.js"></script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
